<div class="panel panel-default">
	<div class="panel-body">
		<li class='media'>
			<a class='pull-left' href='{{url}}'>
				<img class='media-object' src='{{thumb}}' alt='{{title}}' style='width: 128px; height: 128px;'>
			</a>
			<div class='media-body'>
				<h4 class='media-heading'><a href='{{url}}'>{{title}}</a></h4>
				<p>{{body}}</p>
				<p stlye='margin-top:10px;'>
				{{#each tags}}
				<span class="label label-default" style='margin-bottom:5px;'>{{tag}}</span>
				{{/each}}
				</p>
			</div>
		</li>
	</div>
</div>